.header-4.inner_pages{
    margin-top: 5px;
}
.header-4.inner_pages.sticky{
    margin-top: 0px;
}
.mb_120{
    margin-bottom: 120px;
}
.logo_img{
	width: 50%;
}
.header-4.sticky .header-left .logo .logo_img{
    width: 37%;
}
.upComingEventSlider .img_div img{
    width: 100%;
    object-fit: cover;
}

.upcomming-event-carousel  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}
.upcomming-event-carousel .item .event-item {
    position: relative;
    margin-bottom: 100px;
}
.upcomming-event-carousel .item .event-item .event-image {
    width: 100%;
    height: 320px;
    overflow: hidden;
    position: relative;
}

.upcomming-event-carousel .item .event-item .event-image .post-date {
    top: 30px;
    left: 30px;
    z-index: 1;
    height: 70px;
    padding: 10px;
    min-width: 70px;
    text-align: center;
    position: absolute;
    background: -webkit-gradient(linear, left top, right bottom, from(#ff3e00), to(#ffbe30));
    background: -webkit-linear-gradient(top left, #ff3e00, #ffbe30);
    background: -o-linear-gradient(top left, #ff3e00, #ffbe30);
/*    background: linear-gradient(to bottom right, #ff3e00, #ffbe30);*/
/*    background: linear-gradient(to bottom right, #6675ff, #9722c7);*/
    background: linear-gradient(to bottom right, #e7abff, #744587);
}
.upcomming-event-carousel .item .event-item .event-image .post-date .date {
    font-weight: 900;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}
.upcomming-event-carousel .item .event-item .event-image .post-date .date, .upcomming-event-carousel .item .event-item .event-image .post-date .month {
    display: block;
    color: #ffffff;
}
.upcomming-event-carousel .item .event-item .event-image .post-date .month {
    font-size: 16px;
    text-transform: uppercase;
}
.upcomming-event-carousel .item .event-item .event-content {
    opacity: 0;
    right: 30px;
    bottom: -80px;
    max-width: 300px;
    padding: 30px 30px;
    position: absolute;
    visibility: hidden;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 5px 12px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 12px 5px rgba(0, 0, 0, 0.1);
}
.upcomming-event-carousel .owl-item.active.center .item .event-item .event-content {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.upcomming-event-carousel .item .event-item .event-content .event-title {
    position: relative;
}
.upcomming-event-carousel .item .event-item .event-content .event-title:before {
    top: 0px;
    width: 6px;
    bottom: 0px;
    left: -33px;
    content: '';
    height: 100%;
    position: absolute;
/*    background-color: #ffbe30;*/
/*    background-color: #384bff;*/
    background-color: #744587;
}
.upcomming-event-carousel .item .event-item .event-content .event-title .title {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}
.upcomming-event-carousel .item .event-item .event-content .event-title .title_details{
    margin-bottom: 10px;
    color: #878787;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}
.upcomming-event-carousel .item .event-item .event-content .event-title .ticket-price{
/*    color: #384bff;*/
    color: #744587;
    font-weight: 600;
}

.upcomming-event-carousel .item .event-item .event-post-meta ul li {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
    color: #878787;
}
.upcomming-event-carousel .item .event-item .event-post-meta ul li .icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    border-radius: 100%;
/*    color: #ffbe30;*/
/*    color: #384bff;*/
    color: #744587;
    font-size: 14px;
    background-color: #f7f7f7;
}
.upcomming-event-carousel .item .event-item .event-content .custom-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.upcomming-event-carousel .item .event-item .event-content .custom-btn {
    z-index: 1;
    font-weight: 600;
    overflow: hidden;
    padding: 10px 35px;
    text-align: center;
    position: relative;
    border-radius: 50px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    text-transform: uppercase;
    background: #ffbe30;
    color: #ffffff !important;
    -webkit-box-shadow: 0 5px 60px 5px rgba(0, 0, 0, 0.2);
/*    box-shadow: 0 5px 60px 5px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 5px 12px 0px rgba(0, 0, 0, 0.2);
}
.upcomming-event-carousel .item .event-item .event-content .custom-btn:before {
    background: -webkit-gradient(linear, left top, right bottom, from(#ff3e00), to(#ffbe30));
    background: -webkit-linear-gradient(top left, #ff3e00, #ffbe30);
    background: -o-linear-gradient(top left, #ff3e00, #ffbe30);
    background: linear-gradient(to bottom right, #ff3e00, #ffbe30);
}

.upcomming-event-carousel .item .event-item .event-content .custom-btn:after, .upcomming-event-carousel .item .event-item .event-content .custom-btn:before {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    content: '';
    position: absolute;
    border-radius: 50px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.upcomming-event-carousel .item .event-item .event-content .custom-btn:before {
/*    background: linear-gradient(to bottom right, #ffbe30, #ff3e00) !important;*/
/*    background: linear-gradient(to bottom right, #808cff, #384bff) !important;*/
    background: linear-gradient(to bottom right, #da7eff, #744587) !important;
}
.upcomming-event-carousel.owl-carousel .owl-nav{
	display: none;
}
.upcomming-event-carousel.owl-carousel .owl-nav button.owl-prev{
	top: 39%;
	left: -23px;
    z-index: 1;
    margin: 0px;
    width: 46px;
    height: 46px;
    padding: 0px;
    position: absolute;
    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
    color: red;
}
.upcomming-event-carousel.owl-carousel .owl-nav button.owl-next{
	top: 39%;
	right: -23px;
    z-index: 1;
    margin: 0px;
    width: 46px;
    height: 46px;
    padding: 0px;
    position: absolute;
    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.2);
    color: red;
}

.upcomming-event-carousel.owl-carousel .owl-nav button.owl-prev span, .upcomming-event-carousel.owl-carousel .owl-nav button.owl-next span{
    font-size: 40px;
    color: #a3a3a3;
}

.about-container-wrapper.style2 .about-thumb img{
	border-radius: 25px;
}
.service-card.style2.first_div{
	background: #744587;
}
 
.service-card.style2.first_div .body h3 a, .service-card.style2.first_div .body p{
	color: #fff;
}
.service-card.style2.first_div .icon{
	background: #fff;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
.service-card.style2.first_div:hover .icon{
	background: #fff;

}


.whyattend {
    padding: 80px;
    background: url(../../assets/img/whyattend_bg.jpg);
    background-size: cover;
    background-color: rgba(29, 5, 47, 1);
    background-position: bottom;
    position: relative;
}
.whyattend .left-gradient {
    position: absolute;
    width: 48%;
    z-index: 9;
    opacity: 0.8;
    height: 100%;
    left: 0px;
    top: 0;
    background: linear-gradient(90deg, #1D052F 50.73%, rgba(29, 5, 47, 0) 100%);
}
.whyattend .why-attend-section {
    position: relative;
    z-index: 10;
}
.whyattend h2.section-heading {
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.whyattend img.star-img {
    position: relative;
    left: -27%;
}
.whyattend .why-attend-section p {
    position: relative;
    z-index: 10;
    line-height: 30px;
    font-size: 16px;
    color: white;
}

.why-item {
    position: relative;
    overflow: hidden;
}
.why-content {
    position: relative;
}
.why-container.shd .owl-carousel.why-carousel .why-item .why-content img {
    background-color: rgba(29, 5, 47, 1);
}
.why-content p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px !important;
    font-weight: 900;
    line-height: 28px;
    text-align: center;
    font-family: var(--body-font-family);
    color: #fff;
}
.more-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    /* padding: 58px; */
    background: rgb(0 0 0 / 64%);
    border-radius: 20px;
    /* background-color: #008CBA; */
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.why-item:hover .more-content {
    height: 100%;
    padding: 30px;
}
.why-item:hover .more-content p{
    color: #fff;
}
.why-item:hover .why-content p{
    display: none;
}
.why-item:hover .more-content button{
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    text-align: center;
    background: var(--theme);
    color: var(--white-color);
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 15px 22px;
    min-width: 160px;
    cursor: pointer;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    margin-top: 15px;
}
@media(max-width:480px){
    .whyattend{
        padding: 30px;
    }
    .whyattend h2.section-heading{
        text-align: center;
    }
    .whyattend .why-attend-section p{
        text-align: center;
        margin-bottom: 25px;
    }
}
.wcu-section.section-padding {
    padding: 40px 0 120px;
}

/* ===================
28. Team css start
====================== */

.team-area {
    position: relative;
    overflow: hidden;
}

.team-item {
    position: relative;
    text-align: center;
    transition: all .5s ease-in-out;
}

.team-item:hover {
    transform: translateY(-8px);
}

.team-img {
    padding: 6px;
    border: 3px solid #744587;
    border-radius: 50%;
}

.team-img img {
    border-radius: 50%;
    width: 100%;
}

.team-content .social {
    position: relative;
    background: #744587;
    width: fit-content;
    padding: 0 8px;
    margin: -20px auto 0 auto;
    border-radius: 50px;
    z-index: 1;
}

.team-content .social a {
    width: 25px;
    color: #fff;
    padding: 0px 7px;
    line-height: 2;
}

.team-content .social a:hover {
    color: #01054c;
}

.team-content .info {
    margin-top: 15px;
}

.team-content .info h4 {
    font-size: 20px;
    color: #01054c;
}

.team-content .info span {
    color: #fc226a;
    font-weight: 500;
}
/*====================
Testimonial css 
======================*/

.testimonial-area {
    position: relative;
    overflow: hidden;
    background: #f8f9fe;
}

.testimonial-area .site-shadow-text {
    color: #01054c;
    font-size: 100px;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    opacity: .05;
}

.testimonial-single {
    margin-bottom: 20px;
}

.testimonial-quote {
/*    background: #fc226a;*/
    background: #744587;
    padding: 30px 30px 40px 30px;
    position: relative;
    border-radius: 20px;
}

.testimonial-quote::before {
    content: "\f0dd";
    position: absolute;
    font-family: "Font Awesome 5 Pro";
    bottom: -3px;
    left: 33px;
    font-weight: bold;
    font-size: 70px;
/*    color: #fc226a;*/
    color: #744587;
}

.testimonial-quote p {
    color: #fff;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}

.testimonial-content {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
}

.testimonial-author-img {
    margin-right: 20px;
    width: 80px;
    padding: 5px;
    border-radius: 50px;
    border: 2px dashed #fc226a;
}

.testimonial-author-img img {
    border-radius: 50%;
}

.testimonial-author-info h4 {
    font-size: 20px;
/*    color: #01054c;*/
    color: #744587;
}

.testimonial-author-info p {
    color: #fc226a;
    line-height: 1;
}

.testimonial-quote-icon {
    position: absolute;
    right: 20px;
    top: 0px;
    opacity: .08;
}

.testimonial-quote-icon i {
    font-size: 55px;
    color: #01054c;
}

.testimonial-quote-icon img {
    width: 150px !important;
}

.testimonial-rate {
/*    color: #8c52ff;*/
    color: #fc226a;
    width: fit-content;
    margin-bottom: 10px;
    background: #fff;
    padding: 0 10px;
    border-radius: 50px;
}

.testimonial-area .owl-dots {
    display: none;
    text-align: center;
    margin-top: 30px;
}

.testimonial-area .owl-dots .owl-dot span {
    background: #01054c;
    margin: 5px;
    border-radius: 10px;
    width: 15px;
    height: 7px;
    display: inline-block;
    transition: all .5s ease-in-out;
}

.testimonial-area .owl-dots .owl-dot.active span {
    background-color: #01054c;
    width: 8px;
    height: 8px;
}
/*----------------------------------------------------*/
.about-content p{
    line-height: 1.5;
    margin-bottom: 15px;
}
.about-wrapper .about-content .about-author{
    margin-top: 35px;
}
/*-------------------------------------------------------*/

.offer-section.section-bg-2 {
    background-color: #744587;
}
.objective_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    width: 100%;
}
.single-featuer {
    padding: 15px 35px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.048);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.048);
    background-color: #fff;
    margin-top: 30px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    z-index: 2;
}
.single-featuer:hover {
    -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.13);
}
.single-featuer .serial {
    font-size: 50px;
    font-weight: 700;
    color: #f4f4f4;
    position: absolute;
    right: 25px;
    top: 35px;
    z-index: -1;
}
.single-featuer .service-icon {
    height: 65px;
    width: 65px;
/*    line-height: 65px;*/
    border-radius: 8px;
    color: #fff;
    background-color: #858585;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 30px;
    -webkit-box-shadow: 0px 10px 30px rgba(48, 128, 227, 0.18);
    box-shadow: 0px 10px 30px rgba(48, 128, 227, 0.18);
    background-image: url(../images/count-down/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
}
.single-featuer:hover .service-icon{
    background-color: #744587;
}
.single-featuer .service-icon img{
    width: 100%;
}
.single-featuer h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 20px;
}
.single-featuer p {
    font-size: 16px;
}
.single-featuer:hover .shape {
    left: 0;
}
.single-featuer .shape {
    position: absolute;
    left: -30px;
    top: -17px;
    height: 60px;
    width: auto;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.single-featuer .shape2 {
    position: absolute;
    right: -30px;
    bottom: -17px;
    height: 60px;
    width: auto;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.single-featuer:hover .shape2 {
    right: 0;
}
/*---------------------------------------------------------*/
.chapters_section{
    padding: 100px 0;
    position: relative;
    z-index: 1;
}
.chapters_section .chapters_accordion_div{
    position: relative;
    z-index: 1;
}
.chapters_section.project-section-2::after{
    width: 100%;
}
.chapters_section .accordion-item{
    margin-bottom: 10px;
    background: linear-gradient(45deg, #744587, #905ea5);
    border-radius: 5px;
    border: none;
}
.chapters_section .accordion-item:first-of-type .accordion-button{
    border-radius: 0;
    box-shadow:none;
    background-color: transparent;
    line-height: 1;
}
.chapters_section .accordion-button, .chapters_section .accordion-body{
    background: linear-gradient(45deg, #3D3D3D, #A3A3A3);
    color: #fff !important;
}
.chapters_section .accordion-button::after, .chapters_section .accordion-button:not(.collapsed)::after{
    background-image: url('../../assets/img/chevron_img.svg');
}
.chapters_section .accordion-button{
    line-height: 1;
    font-weight: 600;
}
.chapters_section .accordion-button, .chapters_section .accordion-body{
    background:transparent;
    box-shadow: none;
    outline: none;
    font-size: 15px;
}
.chapters_section .accordion-body p{
    color: #d9d9d9;
    margin-bottom: 5px;
}
.chapters_section .accordion-body p:last-child{
    margin-bottom: 0px;
}

.widget.widget_nav_menu.footer-widget .checklist ul{
    align-items: flex-start;
}
/*---------------------------------------------------------------------------*/
.myContactPage{
    background-color: #633076;
    padding: 90px 0;
    position: relative;
    background-image:none;
    transition:none;
}
.myContactPage .project-in-mind{
    padding: 0px 0px 0px;
}
.myContactPage::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/map_img_11.png);
    opacity: 0.05;
    border-radius: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    background-position: 0% 0%;
    opacity: 0.1;
}
.myContactPage .container{
    position: relative;
    z-index: 1;
}
.myContactPage .title_div{
    margin: 0 40% 2% 0;
    padding: 0 0 0 15px;
    border-style: solid;
    border-width: 0 0 0 4px;
    border-color: #FFA800;
    border-radius: 0px;
}
.myContactPage .section-heading{
    margin-bottom: 18px;
    font-size: 30px;
    font-weight: 600;
    line-height: 44px;
    color: #FFA800;
}
.myContactPage .contact_content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
}
.myContactPage .contact_content figure {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.myContactPage .contact_data h4{
    margin-bottom: 5px;
    color: #ffa800;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.777em;
    letter-spacing: normal;
    word-spacing: 1px;
}
.myContactPage .contact_data p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0px !important;
}
.myContactPage .contact_data p.contact_p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px !important;   
}
.myContactPage .contact_data p.contact_p i{
    margin-right: 10px;
}
.myContactPage .visit_class{
    color: #ffa800;
}
.myContactPage .booking_query_main_div {
    border: 1px solid #5d2a70;
    background: #38164438;
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.myContactPage .booking_query_person_grid_view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0rem;
    row-gap: 1rem;
    width: 100%;
}
.myContactPage .booking_query_main_div hr, .myContactPage .booking_query_person_grid_view hr{
    margin: 0.5rem 0;
    border-top: 1px solid #d565ff;
}
.myContactPage .booking_query_person_grid_view p.title {
    color: #ffa800;
    margin-bottom: 0px;
}
.myContactPage .booking_query_person_grid_view h6 {
    text-transform: capitalize;
    font-weight: 500;
        color: #fff;
}
.myContactPage .booking_query_person_grid_view p{
    color: #fff;
}
.myContactPage .workingTime_grid_view {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 1.5rem;
    row-gap: 1rem;
    width: 100%;
}
.myContactPage .workingTime_grid_view .workingDays {
    border-right: 1px solid #bbbbbb;
}
.myContactPage .workingTime_grid_view .workingDays:last-child{
    border-right: none;
}
.myContactPage .workingTime_grid_view h6 {
    text-transform: capitalize;
    font-weight: 500;
    color: #ffa800;
}
.myContactPage .workingTime_grid_view p {
    margin-bottom: 0px;
    color: #fff;
}
.myContactPage .workingTime_grid_view h6 {
    text-transform: capitalize;
    font-weight: 500;
    color: #ffa800;
}
/*-----------------------------------------------------*/
.Gallery_section{
    padding: 100px 0;
}
.Gallery_section .project__menu-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px 10px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.project__thumb-two img{
    width: 100%;
    height: 300px;
    border-radius: 3px;
    object-fit: cover;
}
.Gallery_section .project__menu-nav button{
    color: #464646;
    border: 1px solid #343a40;
    padding: 5px 10px;
    width: auto;
    min-width: 130px;
    border-radius: 5px;
    font-weight: 500;
}
.Gallery_section .project__menu-nav button.active, .Gallery_section .project__menu-nav button:hover {
    color: #fff;
    background: #343a40;
}
.Gallery_section .project__menu-nav button.active::before, .Gallery_section .project__menu-nav button:hover::before{
    display: none;
}
.filter-button:active
{
    background-color: #42B32F;
    color: white;
}
.galllary_img_div{
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
}
.galllary_img_div img{
    width: 100%;
    height: 200px;
    border-radius: 3px;
    object-fit: cover;
    border: 1px solid #d1d1d1;
}
.galllary_img_div .portfolio-lightbox i{
    display: none;
}
.galllary_img_div .portfolio-lightbox i{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background: #cdcdcd;
    height: 200px;
    line-height: 300px;
    border-radius: 3px;
    z-index: 99999999999999999 !important;
    opacity: 0.7;
    font-size: 25px;
}
.galllary_img_div:hover{
    filter: grayscale(1);
}

.galllary_img_div:hover .portfolio-lightbox i{
    display: block;
}

.video_gallary p{
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 15;
    bottom: 0;
    left: 0;
    background: #744587cc;
    color: #fff;
    text-align: center;
    padding: 15px 15px;
}
/*--------------------------------------------------*/
.work-process-container-wrapper.style2{
    position: relative;
}
.work-process-container-wrapper.style2 .shape{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    -webkit-transform: translateX(-50%);
    background: #fff;
    border-radius: 120px;
    padding: 10px;
}
/*------------------------------------------------------*/
.Exhibitors_Travel_Assistance_section, .Visitior_promotion_section, .Visitior_guide_section, .product_launch {
    background-color: #0A0E14;
    padding: 90px 0;
    position: relative;
}
.Exhibitors_Travel_Assistance_section::before, .Visitior_promotion_section::before, .Visitior_guide_section::before, .product_launch::before {
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/Coming_soon_banner3.png);
    background-size: cover;
    opacity: 1;
    z-index: 0;
}
/*-----------------------------------------------------------------------------------------*/
.Media_kit {
    background-color: #ffffff;
    padding: 90px 0;
}
/*.Media_kit::before {
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/abstract_image.png);
    background-size: cover;
    opacity: 1;
    z-index: 0;
}*/
.GoodwillMessages_grid_View {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1rem;
    width: 100%;
    margin: 0 auto;
}
.GoodwillMessages_grid_View .main_div {
    border: 1px solid #c7c7c7;
    background: #dddddd;
    padding: 25px;
    border-radius: 5px;
}
.GoodwillMessages_grid_View .main_div img {
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;
}
.GoodwillMessages_grid_View .main_div .content_div {
    text-align: center;
}
.GoodwillMessages_grid_View .main_div .content_div p {
    margin-bottom: 15px;
}
.GoodwillMessages_grid_View .main_div .content_div a.read_more_btn {
    border: 1px solid #FFA200;
    color: #000;
    padding: 6px 25px;
    border-radius: 25px;
    font-weight: 500;
    display: inline-block;
    width: 109px;
    background: #FFA200;
}

